.divHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, var(--azulEscuro), rgb(172, 226, 238));
}

.divImg{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 1rem 0;
}

.divList{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: var(--azulClaro);
    padding: .6rem 0;
}

.divList a{
    color: var(--branco);
    letter-spacing: 1px;
    font-size: 1.05rem;
}