*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --branco: #FFFFFF;
    --azulEscuro: #0870a3;
    --azulClaro: #85cae8;
    --azulmtEscuro: #073251;
    --amarOuro: #FDB813;
}

body{
    background-color: var(--branco);
}